In [7]:
import math

In [8]:
b = input().split()
a = []
res = 0
for i in range(0, len(b)):
    a.append(int(b[i]))
if len(a) == 3:
    p = (a[0] + a[1] + a[2])/2
    res = (p*(p-a[0])*(p-a[1])*(p-a[2]))**0.5
elif len(a) == 2:
    res = a[0] * a[1]
else:
    res = 2*math.pi*math.pow(a[0], 2)
print({"S": res})

2 5
{'S': 10}

In [10]:
a = input().split()
match a[1]:
    case "+":
        print(int(a[0]) + int(a[2]))
    case "-":
        print(int(a[0]) - int(a[2]))
    case "/":
        print(int(a[0]) / int(a[2]))
    case "//":
        print(int(a[0]) // int(a[2]))
    case "abs":
        print(abs(int(a[0]) - int(a[2])))
    case "pow":
        print(int(a[0]) ** int(a[2]))

2 abs 7
5

In [20]:
a = []
res
while True:
    b = int(input())
    if(b == 0):
        break
    a.append(b)
for i in range(0, len(a)):
    res += a[i]**2
print(res)

3
6
7
3
4
0
181

##

In [27]:
N = int(input())
res = []
for i in range(1, N):
    if len(res) == N:
            break
    for j in range(0, i):
        res.append(i)
        if len(res) == N:
            break
print(*res)

8
1 2 2 3 3 3 4 4

In [3]:
def func(A, B, C):
    D = 0
    for i in range(0, len(B)-1):
        if(B[i] == C):
            D += A[i]
    return D

A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
print({B[0]: func(A, B, B[0]), B[1]: func(A, B, B[1]), B[2]: func(A, B, B[2])})

{'a': 16, 'b': 11, 'c': 18}

In [5]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
print(data)

{'data':        MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude
0        -122.23
1        -122.22
2        -122.24
3        -122.25
4        -122.25
...          ...
20635    -121.09
20636    -121.21
20637    -121.22
20638    -121.32
20639    -121.24

[20640 rows x 8 columns], 'target': 0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: MedHouseVal, Length: 20640, dtype: float64, 'frame':        MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  MedHouseVal
0        -122.23        4.526
1        -122.22        3.585
2        -122.24        3.521
3        -122.25        3.413
4        -122.25        3.422
...          ...          ...
20635    -121.09        0.781
20636    -121.21        0.771
20637    -121.22        0.923
20638    -121.32        0.847
20639    -121.24        0.894

[20640 rows x 9 columns], 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [6]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
dataFrame = data.frame
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [7]:
dataFrame.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [49]:
dataFrame.loc[(dataFrame.HouseAge > 50) & (dataFrame.Population > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

In [56]:
print(dataFrame.MedHouseVal.max(), dataFrame.MedHouseVal.min())

5.00001 0.14999

In [59]:
def datAvg(x):
    return x.mean()
dt = dataFrame.apply(datAvg, axis = 0)
print(dt)

MedInc            3.870671
HouseAge         28.639486
AveRooms          5.429000
AveBedrms         1.096675
Population     1425.476744
AveOccup          3.070655
Latitude         35.631861
Longitude      -119.569704
MedHouseVal       2.068558
dtype: float64

In [86]:
morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
'y': '-.--', 'z': '--..'}

def combiner(B):
    res = ''
    for i in B:
        res += i + " "
    return res
        
a = input().split()
c = []
for i in range(0, len(a)):
    d = list(a[i])
    b = []
    for j in d:
        b.append(morze.get(j.lower()))
    c.append(combiner(b))
for i in range(0, len(c)):
    print(c[i] + '\n')

Ignition sequence start
.. --. -. .. - .. --- -.

… . --.- ..- . -. -.-. .

… - .- .-. -

In [99]:
def checkKey(dic, key):
    if key in dic.keys():
        return True
    else:
        return False

a = {}
N = int(input())
users = []
for i in range(0, N):
    b = input()
    if not checkKey(a, b):
        print('OK')
        a[b] = 0
        users.append(b)
    else:
        a[b] += 1
        users.append(b+str(a[b]))
        print(b+str(a[b]))
print(users)

10
bhnqaptmp
OK
bhnqaptmp
bhnqaptmp1
fpqhfouqdldravpjttarh
OK
fpqhfouqdldravpjttarh
fpqhfouqdldravpjttarh1
fpqhfouqdldravpjttarh
fpqhfouqdldravpjttarh2
jmvlplnrmba
OK
jmvlplnrmba
jmvlplnrmba1
jmvlplnrmba
jmvlplnrmba2
jmvlplnrmba
jmvlplnrmba3
jmvlplnrmba
jmvlplnrmba4
['bhnqaptmp', 'bhnqaptmp1', 'fpqhfouqdldravpjttarh', 'fpqhfouqdldravpjttarh1', 'fpqhfouqdldravpjttarh2', 'jmvlplnrmba', 'jmvlplnrmba1', 'jmvlplnrmba2', 'jmvlplnrmba3', 'jmvlplnrmba4']

In [1]:
def contains(commands, access):
    for i in range(0, len(commands)):
        if commands[i] == access:
            return True
    return False

dict1 = {}
N = int(input())
for i in range(0, N):
    a = input().split()
    dict1[a[0]] = []
    for i in range(1, len(a)):
        dict1[a[0]].append(a[i])
N = int(input())
for i in range(0, N):
    b = input().split()
    if b[0] == 'read':
        if contains(dict1[b[1]], 'r'):
            print("OK")
        else:
            print("Access denied")
    if b[0] == 'write':
        if contains(dict1[b[1]], 'w'):
            print("OK")
        else:
            print("Access denied")
    if b[0] == 'execute':
        if contains(dict1[b[1]], 'x'):
            print("OK")
        else:
            print("Access denied")

1
login.txt w r
1
execute login.txt
Access denied

python.exe x